/* Global changes to body and headings */
body {
    background-color: #F5FFFA;
    font-family:Arial, Helvetica, sans-serif
}

h2 {
    font-size: 28px;

}

h3 {
    font-size: 20px;
}

h4 {
    text-align: center;
}

a {
    color: black
}

/* Changes to the Profile Sidebar */

.portrait img {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    border: 10px solid turquoise;
   

}

.personal-info .portrait {
    box-sizing: border-box;
    display: grid;
    height: 100;
    place-items: center;
}
.Profile {
    box-sizing: border-box;
    position: relative;
    display: block;
    margin-left: 25px;
    margin-top: 50px;
    border-style: solid;
    width: 375px;
    padding: 15px;
    
}

.info{
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 20px;
    max-width: 500px;
    text-indent: 25px;
}

dt {
    font-weight:bold;

}

.personal-info h2 {
    text-align: center;
}

.social { 
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;

}

.social a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: black;
    text-decoration: none;
    
   
}

blockquote {
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 1%;
    text-align: center;
    font-size: 16px;
}
/* End of Profile Sidebar Changes */

/* Skills Section (Under Profile side bar) */

#skills  {
    box-sizing: border-box;
    position: relative;
    display: block;
    margin-left: 25px;
    margin-top: 5px;
    border-style: solid;
    width: 375px;
}

#exp {
    padding: 2%;
}

#skills h3 {
    text-align: center;
    font-size: 22px;
    margin-top: 2%;   
}

#skills li {
    float: center;
    text-indent: 10px;
}

/* Start of About section (This will be on the right of the profile sidebar -at the top-) */

.about {

}
