#navbar {
  overflow: hidden ;
  background-color: turquoise;
  
}

ul {
  list-style-type: none;
  overflow: hidden;

}
  #navbar #nav li {
    
    display: block;
    float: left;
    padding: 15px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#navbar ul li a {
    display:block ;
    text-decoration: none;
}

#navbar ul li a:hover {
    background-color: rgb(24, 119, 110);
    color: white;
}

#title {
    font-family: 'Impact, Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;

}