/* Global changes to body and headings */
body {
    background-color: #F5FFFA;
    font-family:Arial, Helvetica, sans-serif
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

a {
    color: black
}

/* Changes to the Profile Sidebar */

.personal-info {
    position: relative;
    display: block;
    margin-left: 25px;
    margin-top: 50px;
    border-style: solid;
    width: 325px;
    padding: 15px;
    
}
.personal-info .portrait {
    box-sizing: border-box;
    display: grid;
    height: 100;
    place-items: center;
}

.portrait img {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    border: 10px solid turquoise;

}

.personal-info h2 {
    text-align: center;
}

.social a {
    display: inline-flex;
    align-items: center;
    color: black;
    text-decoration: none;
    float: left;
    text-indent: 5px;
    margin-left: 5%;
    
   
}

blockquote {
    padding: 5px;
    margin: 1%;
}
/* End of Profile Sidebar Changes */

/* Skills Section (Under Profile side bar) */

.skills  {
    position: relative;
    display: block;
    margin-left: 25px;
    margin-top: 5px;
    border-style: solid;
    width: 325px;
    padding: 15px;
}

.skills h3 {
    text-align: center;
    font-size: 22px;
   
}

.skills li {
    float: left;
    text-indent: 10px;
}
